<!DOCTYPE html>
<html>
    <head>
        <title>Error</title>
        <meta charset="UTF-8">
    </head>
    <body style="text-align: center">
        <h1>Error</h1>
        <p>Code: <%=status%></p>
        <p>Message: <%=message%></p>
    </body>
</html>